{% extends 'layouts/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Detail Official {% endblock %}
{% block content %}
<div style="margin:50px">
    <section class="section">
        <div class="section-body">
            <h2 class="section-title">Dados do Oficio</h2>
            <p class="section-lead">
                leia e imprima o Oficio abaixo:
            </p>
    
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Dados do Oficio</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Número</label>
                                <div class="form-check-label">{{ official.number }}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Destino</label>
                                <div class="form-check-label">{{ official.destiny }}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"> Destinatário</label>
                                <div class="col-sm-12 col-md-3">{{ official.receiver}}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Descrição</label>
                                <div class="form-check-label">{{ official.description }}</div>
                            </div>
                            {% if user.typeUser == "secretary" %}
                                {% if official.confirm == False%}
                                    <div class="form-group row mb-4">
                                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                        <div class="col-sm-12 col-md-7">
                                            <a id="aprovar" href="/documents/officialoconfirmed/{{official.uuid}}/" class="btn btn-warning">Aprovar</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                <div class="col-sm-12 col-md-7">
                                    {% if official.confirm == True %}
                                        <a id="imprimirOfficial" href="/documents/officialoreport/{{official.uuid}}/"class="btn btn-primary">Imprimir</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}