{% extends 'layouts/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create Officio {% endblock %}
{% block content %}
<section class="section">
    <div class="section-body">
        <h2 class="section-title">Criar novo Oficio</h2>
        <p class="section-lead">
            Adicionar uma novo Oficio informando os dados abaixo:
        </p>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Dados do Oficio</h4>
                    </div>

                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}

                        <div class="card-body">
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Destino</label>
                                <div class="form-check-label">{{ form.destiny }}</div>
                            </div>

                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Outros</label>
                                <div class="col-sm-12 col-md-3">{{ form.others }}</div>
                            </div>

                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"> Destinatário</label>
                                <div class="col-sm-12 col-md-3">{{ form.receiver}}</div>
                            </div>

                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Descrição</label>
                                <div class="form-check-label">{{ form.description }}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                <div class="col-sm-12 col-md-7">
                                    <button id="btnofficial" class="btn btn-primary">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}