{% extends 'layouts/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Print Requeriment {% endblock %}
{% block content %}
<div style="margin:50px">
    <section class="section">
        <div class="section-body">
            <h2 class="section-title">Leia o Requerimento {{requeriment.title}}</h2>
            <p class="section-lead">
                imprima o Requerimento
            </p>
            <div class="row">
                <div class="col-12">
                    <div id="content" class="card">
                        <div class="card-header">
                            <h5>Requerimento</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Requerimento</label>
                                <div class="form-check-label">{{ requeriment.number }}/{{requeriment.created_at}}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Assunto</label>
                                <div class="form-check-label"> {{ requeriment.title }}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Destino</label>
                                <div class="form-check-label"> {{ requeriment.destiny}}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"> Destinatário</label>
                                <div class="col-sm-12 col-md-3">{{ requeriment.receiver}}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Descrição</label>
                                <div class="center"><div class="form-check-label">
                                {{ requeriment.description }}
                                </div></div>
                            </div>
                            <br>
                            <p>JOSÉ DA PENHA/RN {{requeriment.created_at}}</p>
                            <br>
                            <div class="center">
                                <p>---------------------------------------------</p>
                            </div>
                            <div class="center">
                                <p>secretário de educação</p>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <button onclick="report()" class="btn btn-success">Imprimir</button>
                    </div>
                </div>
            </div>    
        </div>
        <div id="#editor"></div>
    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
<script>
    var doc = new jsPDF();
    doc.setFontSize(16);
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
        return true;
    }
    };
 
    function report(){
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 170,
                'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    }
</script>
{% endblock %}