{% extends 'layouts/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} List Requeriment {% endblock %}
{% block content %}
<!-- <div class="container"> -->
<section class="section">
  <form action="" method="get">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Pesquisar Requerimento</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="form-group col-6">
                {{form_filter}}
              </div>
              <input class="btn btn-primary" type="submit" value="Buscar" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
  <div class="section-body">
    <h2 class="section-title">Lista de Requerimentos</h2>
    <p class="section-lead">
      mais informações sobre os seus Requerimentos cadastrados:
    </p>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Dados dos Requerimentos</h4>
          </div>

          <a id="addRequeriment" style="margin-bottom: 20px;" class="btn btn-primary" href="/documents/requerimentcreate/">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            <span> Add Requeriment</span></a>
          <div class="table-responsive">
            <table class="table table-bordered table-md">
              <tr>
                <th>#</th>
                <th>destinatário</th>
                <th>Data</th>
                <th>Número</th>
                <th class="col-md-2 center-block">Ações</th>
                
              </tr>
              {% for requeriment in object_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a id="requirementDetail" href="/documents/requerimentdetail/{{requeriment.uuid}}/" class="btn btn-success">{{ requeriment.receiver }}</a></td>
                <td>{{requeriment.created_at}}</td>
                <td><a class="btn btn-primary" >{{requeriment.number}}</a></td>
                <td class="col-md-2 center-block text-center">
                  {% if user.typeUser == "secretary" %}
                    {% if requeriment.confirm %}
                      <a class="btn btn-success disabled" href="/documents/requerimentupdate/{{requeriment.uuid}}/">Editar</a>
                    {% else %}
                      <a class="btn btn-success" href="/documents/requerimentupdate/{{requeriment.uuid}}/">Editar</a>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {% if is_paginated %}
                <div class="card-footer text-right">
                    <nav class="d-inline-block">
                        <ul class="pagination mb-0">
                            {% if page_obj.has_previous %}    
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                </li>
                            {% endif %}
                            
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#"> {{ i }} <span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
         {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>

<!-- </div> -->
{% endblock %}