{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/style/css.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>{% block title %} {% endblock %}</title>
</head>

<body>
  <header>
      <nav class="navbar">
        <a class="svg-black" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
          aria-controls="offcanvasExample">
          <svg xmlns="http://www.w3.org/2000/svg" id="hamburguer" width="32" height="32" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg>
        </a>
        <div class="offcanvas offcanvas-start navbar-dark bg-dark" tabindex="-1" id="offcanvasExample"
          aria-labelledby="offcanvasExampleLabel">
          <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
            <h1 class="nav-link text-white">Services</h1>
            <hr style="color:white;">
            {% if user.is_authenticated %}
                <p class="nav-link text-white">Grupo: {{ user.typeUser }}</p>
              {% if user.typeUser %}
                  <ul class="nav nav-pills flex-column mb-auto">
                    {% if user.typeUser == 'secretary' or user.typeUser == 'fooddivider' or user.typeUser == 'nutricionist' or user.typeUser == 'asg' %}
                        <li class="nav-link text-white">
                          <div class="services">
                            <a class="nav-link text-white">
                              <svg id="alimentos" xmlns="http://www.w3.org/2000/svg" width="32" height="32"fill="currentColor" class="bi bi-egg" viewBox="0 0 16 16">
                                <path d="M8 15a5 5 0 0 1-5-5c0-1.956.69-4.286 1.742-6.12.524-.913 1.112-1.658 1.704-2.164C7.044 1.206 7.572 1 8 1c.428 0 .956.206 1.554.716.592.506 1.18 1.251 1.704 2.164C12.31 5.714 13 8.044 13 10a5 5 0 0 1-5 5zm0 1a6 6 0 0 0 6-6c0-4.314-3-10-6-10S2 5.686 2 10a6 6 0 0 0 6 6z" />
                              </svg>
                              Alimentos
                            </a>
                            <ul class="dropdown">
                              {% if user.typeUser != "asg" %}
                                <li><a id="alimentos2" style="color:white;" class="dropdown-item" href="/products/listfood/">Alimentos</a></li>
                              {% endif %}
                              {% if user.typeUser != "fooddivider" %}
                                <li><a id="alimentos3" style="color:white;" class="dropdown-item" href="/products/requestfoodlist/">Pedir Alimentos</a></li>
                              {% endif%}
                            </ul>
                          </div>
                        </li>
                        <li class="nav-link text-white">
                          <div class="services">
                            <a class="nav-link text-white"><svg id="limpeza" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                                <path
                                  d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z" />
                              </svg> Limpeza</a>
                            <ul class="dropdown">
                              {% if user.typeUser != "asg" and user.typeUser != "nutricionist"  %}
                                <li><a id="limpeza1" style="color:white;" class="dropdown-item" href="/products/listcleaning/">Limpeza</a></li>
                              {% endif %}
                              {% if user.typeUser != "fooddivider" and user.typeUser != "nutricionist" %}
                                <li><a id="limpeza2" style="color:white;" class="dropdown-item" href="/products/requestcleaninglist/">Pedir Limpeza</a></li>
                              {% endif %}
                            </ul>
                          </div>
                        </li>
                  {% endif %}
                    {% if user.typeUser == "coordinator" or user.typeUser == "secretary" or user.typeUser == "nutricionist" or user.typeUser == "fooddivider" %}
                        <li class="nav-link text-white">
                          <div class="services">
                        <li class="nav-link text-white">
                          <div class="services">
                            <a id="eventos" href="/events/eventslist/" class="nav-link text-white"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                fill="currentColor" class="bi bi-calendar2-event" viewBox="0 0 16 16">
                                <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                <path
                                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
                              </svg> Eventos </a>
                          </div>
                        </li>
                        </li>
                    {% endif %}
                  {% if user.typeUser == "secretary" or user.typeUser == 'coordinator' %}
                    <li class="nav-link text-white">
                      <div class="services">
                        <a href="/users/adminusers/" class="nav-link text-white">
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
                          </svg>
                          Usuários
                        </a>
                      </div>
                    </li>
                  {% endif %}
              <li class="nav-link text-white">
                <div class="services">
                  <a id="documents" class="nav-link text-white"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                  </svg> Documentos</a>
                  <ul class="dropdown">
                    {% if user.typeUser != "asg" %}
                        <li><a id="memorando" style="color:white;" class="dropdown-item" href="/documents/memorandolist/">Memorandos</a></li>
                        <li><a id="officio" style="color:white;" class="dropdown-item" href="/documents/officiallist/">Ofícios</a></li>
                    {% endif %}
                      <li><a id="requirements" style="color:white;" class="dropdown-item" href="/documents/requerimentlist/">Requerimentos</a></li>
                  </ul>
                </div>
              </li>
                    {% if user.typeUser != "asg" %}
                        <li class="nav-link text-white">
                          <div class="services">
                            <a href="/reports/" class="nav-link text-white">
                              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                              </svg>
                              Relatórios
                            </a>
                          </div>
                        </li>
                    {% endif %}
                  
                </ul>
          {% else %}
              <h4 class="nav-link text-white">
                Você não pertence a nenhum grupo
              </h4>
          {% endif %}
        {% endif %}
            <hr>
          </div>
        </div>
        <div class="logo">EducaPlus</div>
        <ul class="nav-links navbar-toggle" data-toggle=”collapse” data-target=”#navbar”>
          <div class="menu">
            <li><a href="/"><i class="fa-solid fa-house"></i>&nbsp Home</a></li>
            {% if user.is_authenticated == False %}
            <li class="services">
              <a id="log"><i class="fa-solid fa-person -walking-arrow-right" style="margin-left:5px;"></i>&nbsp Log</a>
              <ul class="dropdown">
                <li><a href="/users/login/"><i class="fa-solid fa-right-to-bracket"></i>&nbsp Login </a></li>
                <li><a id="register" href="/users/register/"><i class="fa-regular fa-id-card"></i>&nbsp Register</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href="/"><i class="fa-solid fa-users-line"></i>&nbsp About</a></li>
            <li><a href="/"><i class="fa-solid fa-user-plus"></i>&nbsp Contact</a></li>
            {% if user.is_authenticated %}
            <li id="service" class="services">
              {% if user.image %}
                <img src="{{user.image.url}}" alt="" width="64" height="64" class="rounded-circle me-2" style="margin-left:5px;">
              {% else %}
                <img src="{% static 'assets/images/social-image.png' %}" alt="" width="64" height="64"
                class="rounded-circle me-2">
              {% endif %}
              <ul class="dropdown">
                <li><a class="dropdown-item" href="/users/update/{{user.uuid}}/">Settings</a></li>
                <li><a id="profile"class="dropdown-item" href="/users/details/{{user.uuid}}/">Profile</a></li>
                <li><a id="logout"  class="dropdown-item" href="/users/logout/">Logout</a></li>
              </ul>
            </li>
            {% endif %}
          </div>
        </ul>
      </nav>
  </header>
  <main class="main">
    {% block content %}
    {% endblock content %}
  </main>
  <div class="footer-basic">
    <footer>
      <div class="social">
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-linkedin"></i>
        </a><a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">Todos os direitos reservados, EducaPlus &copy 2023</p>
    </footer>
  </div>
</body>
<!-- <script src="{% static 'assets/scripts/scripts.js' %}"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/07d7922655.js" crossorigin="anonymous"></script>



</html>