{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Detail User  {% endblock %}
{% block content %}
<div style="margin: 50px;">
    {% if user.is_authenticated %}
        <div style='position:relative; top:0px; left:0px;'>
            <img src="{% static 'assets/images/fundo.png'%}" height="300px" width="1100px"  >
            <div style='position:absolute; top:200px; left:6px;'>
                {% if user.image %}
                <img style="border-radius: 360px;" src="{{user.image.url}}" height="150px" width="150px">
                {% else %}
                <img src="{% static 'assets/images/social-image.png' %}" alt="" width="150px" height="150px"
              class="rounded-circle me-2">
                {% endif %}
                <a href="/users/update/{{user.uuid}}/" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg></a>
            </div>
        </div>
        <h5 class="color_string"style="margin-top: 50px;"> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>  {{user.username}}</h5>
        <h5 class="color_string"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
            <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
          </svg>  {{user.email}}</h5>
    {% endif %}
    <hr>
    <div style = "margin:50px;" class="row align-items-start">
      {% if user.typeUser != "asg" %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div style = "display: flex;align-items: center;justify-content: center;"class="card-header">
            <h1>Memorandos</h1>
          </div>
          <div class="center" style="padding: 1rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-file-richtext" viewBox="0 0 16 16">
              <path d="M7 4.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0zm-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V7.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V7s1.54-1.274 1.639-1.208zM5 9a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
              <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
            </svg>
          </div>
          <div class="center" style="padding: 2rem;">
            <a href="#" class="btn btn-success">{{memorandos}}</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div style = "display: flex;align-items: center;justify-content: center;"class="card-header">
            <h1>Ofícios</h1>
          </div>
          <div class="center" style="padding: 1rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-file-richtext" viewBox="0 0 16 16">
              <path d="M7 4.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0zm-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V7.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V7s1.54-1.274 1.639-1.208zM5 9a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
              <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
            </svg>
          </div>
          <div class="center" style="padding: 2rem;">
            <a href="#" class="btn btn-success">{{officials}}</a>
          </div>
        </div>
      </div>
      {% endif%}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div style = "display: flex;align-items: center;justify-content: center;"class="card-header">
            <h1>Requerimentos</h1>
          </div>
          <div class="center" style="padding: 1rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-file-richtext" viewBox="0 0 16 16">
              <path d="M7 4.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0zm-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V7.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V7s1.54-1.274 1.639-1.208zM5 9a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
              <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
            </svg>
          </div>
          <div class="center" style="padding: 2rem;">
            <a href="#" class="btn btn-success">{{requeriments}}</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    {% if user.typeUser == "secretary" or user.typeUser == "coordenator" %}
      <div class="center">
        <h3>Eventos aguardando aprovação</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-md">
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Data</th>
              <th>Escola</th>
              <th class="col-md-2 center-block">Aprovar</th>
            </tr>
          {% for event in events %}
            <tr>
               <td><a class="btn btn-success" href="">{{ forloop.counter }}</a></td>
               <td><a class="btn btn-success"   href="">{{event.name}}</a></td>
               <td>{{event.date}}</td>
               <td>{{event.school}}</td>
               {% if user.typeUser == "secretary" %}
                  <td class="col-md-2 center-block text-center" ><a class="btn btn-primary" href="/events/confirm_event/{{event.uuid}}/">Confirmar</a></td>
               {% endif %}
            </tr>   
          {% endfor %}
        </table>
      </div>
    {% endif %}
    {% if user.typeUser == "fooddivider" %}
      <div class="center">
        <h3>Pedido de Alimentos por enviar</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-md">
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Data</th>
            <th>Status</th>
            <th class="col-md-2 center-block">Aprovar</th>
          </tr>
          {% for reqfood in request_food %}
            <tr>
               <td><a class="btn btn-success" href="">{{ forloop.counter }}</a></td>
               <td><a class="btn btn-success"   href="/products/requestfooddetail/{{reqfood.uuid}}/">{{reqfood.name}}</a></td>
               <td>{{reqfood.created_at}}</td>
               <td>
                  <a class="btn btn-warning" href="#">Por Enviar</a>
               </td>
               <td class="col-md-2 center-block text-center" >
                <a class="btn btn-primary" href="/products/request_food_confirm/{{reqfood.uuid}}/">Confirmar</a>
              </td>
            </tr>   
          {% endfor %}
        </table>
        <div class="center">
          <h3>Pedido de Limpeza por enviar</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-md">
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Data</th>
              <th>Status</th>
              <th class="col-md-2 center-block">Aprovar</th>
            </tr>
            {% for reqcleaning in request_cleaning %}
              <tr>
                 <td><a class="btn btn-success" href="">{{ forloop.counter }}</a></td>
                 <td><a class="btn btn-success"   href="/products/requestcleaningdetail/{{reqclening.uuid}}/">{{reqfood.name}}</a></td>
                 <td>{{reqcleaning.created_at}}</td>
                 <td>
                    <a class="btn btn-warning" href="#">Por Enviar</a>
                 </td>
                 <td class="col-md-2 center-block text-center" >
                  <a class="btn btn-primary" href="/products/request_cleaning_confirm/{{reqcleaning.uuid}}/">Confirmar</a>
                </td>
              </tr>   
            {% endfor %}
          </table>
      </div>
    {% endif %}
</div>
{% endblock %}