{% extends 'layouts/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Delete Event {% endblock %}
{% block content %}
<div class="container">
    <section class="section">
        <section class="section">
            <div class="section-header">
               
              <div class="section-header-breadcrumb">
                <div  class="breadcrumb-item active"><a style="text-decoration: none;" class="btn btn-primary" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                  </svg></a></div>
              </div>
            </div>
          
            <div class="section-body">
              <h2 class="section-title">Deletar Evento</h2>
              <p class="section-lead">
                Uma vez excluido não poderá mais ser recuperado:
              </p>
          
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Excluir Item</h4>
                    </div>
                    <div class="center">
                        <form method="post">
                            {% csrf_token %}
                            <h2>Excluir o alimento {{events.name}}?</h2>
                            <p>Você tem certeza em excluir {{events.name}}?</p>
                            <p class="form-buttons">
                                <input type="submit" class="btn btn-primary" value="Delete">
                                <a id="cancel_delete" href="/events/eventslist/" class="btn btn-outline">Cancel</a>
                            </p>
                        </form>
                        <a style="margin-top: 20px;" href="/events/listevents/" class="btn btn-primary">Voltar</a>

                </div>
                    
                  </div>
                </div>
              </div>
            </div>
    </section>
</div>
{% endblock %}