{% extends 'layouts/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create Food {% endblock %}
{% block content %}
<section class="section">
    <div class="section-body">
      <h2 class="section-title">Criar novo Evento</h2>
      <p class="section-lead">
        Adicionar uma novo Evento informando os dados abaixo:
      </p>
  
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Dados do Evento</h4>
            </div>
  
              {% if form.errors %} 
                  {% for field in form %} 
                      {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %} 
                  {% endfor %} 
                  
                  {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
                  {% endfor %} 
              {% endif %}
  
            <form method="post">
              {% csrf_token %}
  
              <div class="card-body">
  
                <div class="form-group row mb-4">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Nome:</label>
                  <div class="col-sm-12 col-md-3">{{ form.name }}</div>
                </div>
  
                <div class="form-group row mb-4">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Data do Evento</label>
                  <div class="col-sm-12 col-md-3">{{ form.date}}</div>
                </div>
  
                <div class="form-group row mb-4">
                  <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Escola</label>
                  <div class="form-check-label">{{ form.school }}</div>
                </div>
                <div class="form-group row mb-4">
                  <label
                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                  ></label>
                  <div class="col-sm-12 col-md-7">
                    <button id="btn_event_create" class="btn btn-primary">Salvar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}