{% extends 'layouts/base.html'%}
{% load crispy_forms_tags %}
{% block title %} Create Food {% endblock %}
{% block content %}
<div class="container">
    <section class="section">
        <section class="section">
          
            <div class="section-body">
              <h2 class="section-title">Deletar Alimento</h2>
              <p class="section-lead">
                Uma vez excluido não poderá mais ser recuperado:
              </p>
          
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h4>Dados do Alimento</h4>
                    </div>
                    <div class="center">
                        <form method="post">
                            {% csrf_token %}
                            <h2>Excluir o alimento {{foods.name}}?</h2>
                            <p>Você tem certeza em excluir {{foods.name}}?</p>
                            <p class="form-buttons">
                                <input type="submit" class="btn btn-primary" value="Delete">
                                <a href="/despesas/list" class="btn btn-outline">Cancel</a>
                            </p>
                        </form>
                        <a style="margin-top: 20px;" href="/products/listfood/" class="btn btn-primary">Voltar</a>

                </div>
                    
                  </div>
                </div>
              </div>
            </div>
    </section>
</div>
{% endblock %}