{% extends 'layouts/base.html'%}
{% load crispy_forms_tags %}
{% block title %} Detail Food {% endblock %}
{% block content %}
<div style="margin:50px">
    <section class="section">
        <div class="section-body">
            <h2 class="section-title">Dados do Alimento</h2>
            <p class="section-lead">
                Atualize a quantidade de memorandos:
            </p>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Dados do Alimento</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Nome</label>
                                <div class="form-check-label">{{ food.name }}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Quantidade</label>
                                <div class="form-check-label">{{ food.quantity }}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"> Validade</label>
                                <div class="col-sm-12 col-md-3">
                                    {{ food.validity}}
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Categoria</label>
                                <div class="form-check-label">{{ food.typeCategoria }}</div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                <div class="col-sm-12 col-md-7">
                                    <div class="center">
                                        {% if messages  %}
                                            <div class="alert alert-success alert-dismissible" role="alert">
                                                <div id="form_errors">
                                                    {% for  message in messages %}
                                                    <strong>{{ message }}</strong>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if user.typeUser == "fooddivider" %}
                                        <div class="center">
                                            <h4>Atualize a Quantidade</h4>
                                        </div>
                                        <form method="get">
                                            <div class="mb-3">
                                                Quantidade Enviada
                                                <input type="number" name="quantity" class="form-control">
                                            </div>
                                            <div class="center">
                                                <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}