{% extends 'layouts/base.html'%}
{% load crispy_forms_tags %}
{% block title %} List Food {% endblock %}
{% block content %}
<div style="margin:50px">
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="center"><h1>Seus Pedidos de Alimentos</h1></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="section-body">
            <h2 class="section-title">Lista de Pedidos de Aliemtos</h2>
            <p class="section-lead">
                mais informações sobre os seus pedidos:
            </p>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Dados do Alimento</h4>
                        </div>
                        {% if user.typeUser == "asg" %}
                            <a id="req_food" style="margin-bottom: 20px;" class="btn btn-primary" href="/products/requestfood/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                <span> Add Pedido</span></a>
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-md">
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Data</th>
                                    <th>Situação</th>
                                </tr>
                                {% for request in object_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="/products/requestfooddetail/{{request.uuid}}/" class="btn btn-success">{{ request.name }}</a></td>
                                    <td>{{ request.created_at }}</td>
                                    {% if request.status_activate %}
                                        <td><a class="btn btn-success"><strong>CONCLUÍDO</strong></a></td>
                                    {% else %}
                                        <td><a class="btn btn-warning"><strong>AGUARDANDO</strong></a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% if is_paginated %}
                            <div class="card-footer text-right">
                                <nav class="d-inline-block">
                                    <ul class="pagination mb-0">
                                        {% if page_obj.has_previous %}    
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                            </li>
                                        {% endif %}
                                        
                                        {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="page-item active"><a class="page-link" href="#"> {{ i }} <span class="sr-only">(current)</span></a></li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
{% endblock %}