{% extends 'layouts/base.html'%}
{% load crispy_forms_tags %}
{% block title %} Create Request Food {% endblock %}
{% block content %}
<div class="container">
    <section class="section">  
        <div class="section-body">
          <h2 class="section-title">add Alimentos na Lista</h2>
          <p class="section-lead">
            add alimentos na lista que você deseja:
          </p>
      
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Dados do Alimento</h4>
                </div>
      
                  {% if form.errors %} 
                      {% for field in form %} 
                          {% for error in field.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                          {% endfor %} 
                      {% endfor %} 
                      
                      {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %} 
                  {% endif %}
      
                <form method="post">
                  {% csrf_token %}
      
                  <div class="card-body">
                    <div class="form-check">
                      <label>Nome para o pedido</label>
                      {{form.name}}
                    </div>
                    <div class="form-group row mb-4">
                      <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                      ></label>
                      <div class="col-sm-12 col-md-7">
                        <button id="btnRequest" class="btn btn-primary">Enviar</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
{% endblock %}