{%  extends "layouts/base.html"  %}
{% block title %} Login  {% endblock %}
{% block content %}
<div class="content">
<div class= "form-login">
  <h2 style="display:flex;align-items: center;justify-content: center;">Login</h2>
  <hr>
  {% if form.errors %}
                  <div class="alert alert-danger alert-dismissible" role="alert">
                      <div id="form_errors">
                          {% for key, value in form.errors.items %}
                              <strong>{{ value }}</strong>
                          {% endfor %}
                      </div>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
  {% endif %}
  <form method="POST" action="" class="needs-validation" novalidate="">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control" name="username" tabindex="1" required autofocus>
      <div class="invalid-feedback">
        Please fill in your email
      </div>
    </div>

    <div class="form-group">
      <div class="d-block">
        <label for="password" class="control-label">Password</label>
        <div class="float-right">
          <a href="auth-forgot-password.html" class="text-small">
            Forgot Password?
          </a>
        </div>
      </div>
      <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
      <div class="invalid-feedback">
        please fill in your password
      </div>
    </div>

    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
        <label class="custom-control-label" for="remember-me">Remember Me</label>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
        Login
      </button>
    </div>
  </form>
  <hr>
  <p>ainda não tem uma conta?<span><a href="/account/register">Crie a sua</a></span></p>
</div>
</div>
{% endblock %}